{:source-paths ["src/cljs"]
 :dependencies [[reagent "0.9.1"]
                [re-frame "0.10.9"]]
 :builds {:app {:target :browser
                :output-dir "resources/public/js/compiled"
                :asset-path "/js/compiled"
                :modules {:app {:init-fn marassapapupphakani.core/init}}
                :devtools {:http-root "resources/public"
                           :http-port 8280}}}}
